# build & gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Java 빌드 출력물
bin/
out/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# 환경변수 파일
.env

# node.js
node_modules/
dist/
